@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
@import url(tabla.css);

*{
	margin: 0px;
	padding: 0px;
}

legend{
	cursor: pointer;
}

#backgroundFix{
	width: 100%;
	height: 100%;
	z-index: -10;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	background: linear-gradient( 180deg, rgb(255,255,255) 50%, rgb(225,225,225) );
}

.login{
	position: absolute;
	font-family: 'Averia Gruesa Libre', cursive;
	width: 500px;
	height: 300px;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	box-shadow: 0px 0px  15px rgb(100,100,100);
	border-radius: 100%;
	display: table;
	text-align: center;
}
.login>section{
	display: table-cell;
	vertical-align: middle;
}
.login img{
	width: 50px;
	height: 50px;
}
.login span{
	margin: auto;
	font-size: 48px;
	display: inline;
	line-height: 50px;
}
.login input{
	font-family: 'Averia Gruesa Libre', cursive;
	font-size: 24px;
	margin: 5px;
	width: 285px;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	box-shadow: 1px 1px 1px black;
}
.login input[type='submit']{
	margin-left: 8px;
	border-radius: 5px;
	font-variant: small-caps;
	font-size: 20px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(73,180,227)), color-stop(0.5, rgb(33,64,154)), color-stop(0.51, rgb(33,64,154)), color-stop(1, rgb(73,180,227)));
	background-image: -moz-linear-gradient(center bottom, rgb(73,180,227) 0%, rgb(33,64,154) 50%, rgb(33,64,154) 51%, rgb(73,180,227) 100%);
	border: none;
	color: white;
	box-shadow: 0px 0px 2px rgb(33,64,154), 1px 1px 1px black;
	cursor: pointer;
	transition: all 1s;
}
.login input[type='submit']:hover{
	transition: all 0.5s;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
	background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
	background-color:#383838; /* Fallback */

	/* We use the inset of the box shadow to create a subtle inner glow when hovering */
	-moz-box-shadow: inset 0 0 5px 5px #535353;
	-webkit-box-shadow: inset 0 0 5px 5px #535353;
	box-shadow: inset 0 0 5px 5px #535353;
}

/*
 * Maqueta Pagina Generica
 */
#page{
	font-family: 'Averia Gruesa Libre', cursive;
	width: 1200px;
	height: 630px;
	overflow: hidden;
	background: linear-gradient( 180deg, rgb(255,255,255) 50%, rgb(225,225,225) );
	box-shadow: 0px 0px 10px rgb(100,100,100);
	border-radius: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -600px;
	margin-top: -300px;
}

header{
	width: 100%;
	height: 100px;
	position: relative; 
	display: block;
	box-shadow: 0px 0px 5px black;
}

header>section{
	padding: 5px;
}
header>section img{
	height: 50px;
	width: 50px;
}

footer{
	width: 100%;
	height: 50px;
	text-align: center;
	display: block;
}

#main{
	width: 100%;
	height: 450px;
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	position:relative;
}

#contenido {
	background: white;
	height: 450px;
	width: 950px;
	display: inline-block;
	vertical-align: middle;
	overflow: auto;
	box-shadow: 0px 0px 5px black;
	position:relative;
}

#contenido>section{
	margin: 10px;
}

#opciones {
	background: white;
	height: 450px;
	width: 200px;
	margin-left: 0px;
	padding-left: 0px;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0px 0px 5px black;
	border-radius: 0px 10px 10px 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

/*
 * Navegacion
 */
.redondo{
	display: table;
	color: white;
	width: 100%;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(73,180,227)), color-stop(0.5, rgb(33,64,154)), color-stop(0.51, rgb(33,64,154)), color-stop(1, rgb(73,180,227)));
	background-image: -moz-linear-gradient(center bottom, rgb(73,180,227) 0%, rgb(33,64,154) 50%, rgb(33,64,154) 51%, rgb(73,180,227) 100%);
	cursor: pointer;
	transition: all 0.5s;
}
.redondo span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 30px;
	transition: all 0.5s;
}

.redondo ul{
	display: table-row;
	list-style: none;
	transition: all 0.5s;
	box-shadow: 0px 0px 5px black;
}
.redondo ul li a{
	text-decoration: none;
	color: white;
}

.redondo:hover{
	background: rgb(73,180,227);
	transition: all 0.5s;
}

.redondo:hover ul{
	display: table-row;
	transition: all 0.5s;
}
/*
 * Items Menu
 */
.redondo ul li{
	width: 100%;
	cursor: pointer;
	height: 25px;
	background: rgb(66,120,200);
	transition: all 0.3s;
}

.redondo ul li:hover{
	cursor: pointer;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
	background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
	transition: all 0.3s;
}
/*
 * Tabla Servicios
 */
.servicio {
	float: left;
	margin: 10px;
	text-align: left;
	min-height: 150px;
	min-width: 160px;
	padding: 15px;
	background: rgb(240,240,240);
	box-shadow: 0px 0px 2px black;
}

.servicio:nth-child(2n) {
	background: rgb(200,200,200);
}

.servicio ul {
	list-style: none;
	display: table;
}
.servicio li {
	display: table-row;
	vertical-align: middle
}
.servicio li input {
	display: table-cell;
	vertical-align: middle;
}
.servicio li input[type=text] {
	width: 25px;
	margin: 0 5px;
}
.servicio li input[type=checkbox] {
	margin-bottom: 5px;
	margin-right: 2px;
}
.servicio li span{
	display: table-cell;
	vertical-align: middle;
	margin: 0 2px 0 2px;
}
